body {
    background: linear-gradient(white, rgb(255, 0, 0));
  }
  


  body {
    background: linear-gradient(rgb(212, 209, 209),rgb(99, 99, 99), rgb(133, 131, 146));
  }
  



  .form-group label {
    font-weight: bold;
  }

  .btn-primary {
    background-color: #343a40;
    border-color: #343a40;
  }

  .btn-primary:hover {
    background-color: #212529;
    border-color: #212529;
  }

